body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items ul {
  display: flex;
  padding-right: 50px;
  font-size: 24px;
}

.nav-items ul li {
  margin-right: 50px;
  list-style: none;
}

.search-bar {
  padding: 20px;
}

.res-card-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  padding: 5px;
  margin: 20px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-img {
  width: 100%;
  height: 150px;
}

.filter-btn {
  margin-left: 20px;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 200px;
  height: 400px;
  margin: 20px;
  background-color: #f0f0f0;
}

.login{
  padding: 8px;
}

.search-btn{
  margin-left: 10px;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-image{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-color: gray;
}

.restaurant-details{
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(238, 238, 238); */
  width: 50%;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.res-rating{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  height: 50%
}

.res-rating p{
  margin: 0px;
  padding: 5px 0;
}

.res-rating p:nth-child(1){
  text-align: center;
}

.res-rating p:nth-child(1){
  border-bottom: 1px solid rgb(212, 212, 212);
}

.delivery-details{
  display: flex;
  width: 50%;
  /* padding: 10px 0; */

}

.delivery-icon{
  align-self: center;
}

.delivery-details p{
  padding: 0 10px;
  font-weight: bolder;
  font-size: larger;
}

.dish-type{
  display: flex;
}

.dish-item{
  margin: 0;
  margin-right: 5px;
}

.res-area{
  margin: 0;
}

.menu-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-card h1{
  text-align: left;
}

.menu-item-container{
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(212, 212, 212);
  margin-bottom: 20px;
  width: 50%;
  min-width: 50%  ;
}

.menu-item-name-price-description{
  padding: 10px;
  width: 80%;
}

.veg-nonveg, .item-name, .item-price{
  margin: 0;
}

.menu-item-image{
  width: 20%;
}

.item-image{
  width: 100px;
  height: 100px;
}

.hidden{
  display: none;
}

.veg-or-nonveg{
  /* margin-top: 40px; */
  border-bottom: 1px solid rgb(212, 212, 212);
  /* border-top: 1px solid rgb(212, 212, 212); */
  width: 50%;
  padding: 15px 10px;
  font-size:x-large;
}

.add-btn{
  position: relative;
  padding: 5px 20px;
  left: 15%;
  bottom: 15px;
}